* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
  width: 1000px;
  margin: 0 auto;
}

#menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 25px;
  box-shadow: 0px 4px 3px -4px #000;
}

#menu a {
  background-color: #555;
  color: #fff;
  padding: 12px 35px;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.8rem;
}

#menu a:hover {
  background-color: #999;
}

/* NÃO ALTERE DAQUI PRA CIMA */
/* ESCREVA SEU CÓDIGO ABAIXO */
 
#layout {
  background-color: rgb(0, 132, 255);
  width: 1000px;
  height: 500px;
  display:flex;
  flex-direction: column;
  
}

.vermelhodecima {
  background-color: rgba(87, 14, 75, 0.938);
  flex:2;
  display: flex;
}
.vermelho {
  background-color: rgb(255, 0, 0);
  flex:1;

}

.azuldaesquerda {
   background-color: rgba(21, 14, 87, 0.938);
flex: 2;
display: flex;

}

.azul {
   background-color: rgba(69, 113, 209, 0.938);
 flex: 1;

}

.verde {
    background-color: rgba(7, 255, 28, 0.938);
flex: 1;
display: flex;
}

.amarelo {
      background-color: yellow;
      flex: 1;
}
.laranja {
      background-color: orange;
      flex: 1;
}